@tailwind base;
@tailwind components;
@tailwind utilities;

  .link-underline-circle::after {
    content: '';
    display: flex;
    position: relative;
    width: 7px;
    height: 7px;
    top:28px;
    margin: auto;
    border-radius: 100%;
    background-color: theme('colors.primary');
    transition: opacity 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
  }
  
  .link-underline-circle.active::after,
  .link-underline-circle:hover::after {
    opacity: 1;
    box-shadow: 0 0 8px 2px theme('colors.accent');
  }
  
   .scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none;    /* Firefox */
}